/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

@font-face {
	font-family: 'Muli Regular';
	src: url('../fonts/muli_regular.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/muli_regular.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/muli_regular.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/muli_regular.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/muli_regular.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/muli_regular.svg#muli_regular') format('svg'); /* Chrome < 4, Legacy iOS */
}
@font-face {
    font-family: 'Muli';
    src: url('../fonts/Mulilight.woff2') format('woff2'),
        url('../fonts/Mulilight.woff') format('woff'),
        url('../fonts/Mulilight.ttf') format('truetype');
    
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Muli';
    src: url('../fonts/Mulibold.woff2') format('woff2'),
        url('../fonts/Mulibold.woff') format('woff'),
        url('../Mulibold.ttf') format('truetype');

    font-weight: 700;
    font-style: normal;
}
