/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

header {
    padding-left: 6.25vw;
    padding-right: 6.25vw;
    height: 12vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    background-color: #2d5386;
} 
div.menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
div.menu a {
    text-decoration: none;
    font-size: 16px;
    letter-spacing: 0px;
    color: #ffffff;
    font-weight: 700;
    font-family: 'Muli', serif;
    line-height: 1.5;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    -webkit-transition-duration: 0.5s;
         -o-transition-duration: 0.5s;
            transition-duration: 0.5s;  
}

  @-webkit-keyframes flicker {
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
      text-shadow:
        0 0 4px #fff,
        0 0 11px #fff,
        0 0 19px #fff,
        0 0 40px #0fa,
        0 0 80px #0fa,
        0 0 90px #0fa,
        0 0 100px #0fa,
        0 0 150px #0fa;
    }
    20%, 24%, 55% {       
      text-shadow: none;
    }
  }

  @keyframes flicker {
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
      text-shadow:
        0 0 4px #fff,
        0 0 11px #fff,
        0 0 19px #fff,
        0 0 40px #0fa,
        0 0 80px #0fa,
        0 0 90px #0fa,
        0 0 100px #0fa,
        0 0 150px #0fa;
    }
    20%, 24%, 55% {       
      text-shadow: none;
    }
  }
div.menu a:hover {
    -webkit-animation: flicker 1.5s infinite alternate;
            animation: flicker 1.5s infinite alternate;
    color: #fff;
}

div.menu a.selected {
    color: red;
}

@media only all and (max-width: 1366px) {
    div.menu a {
        font-size: 14px;
    }
   
}
@media only all and (max-width: 580px) {
    header {
        height: 14vh;
    } 
}




